# Byte-compiled / optimized / DLL files
# ===========
__pycache__/
*.py[cod]
*$py.class

# JetBrains
# ===========
.idea
*.iml

# Installer logs
# ===========
pip-log.txt
pip-delete-this-directory.txt

# Flask:
# ===========
instance/
.webassets-cache

# dotenv
# ===========
.env

# virtualenv
# ===========
.venv
venv/
ENV/

# dumps
*.dmp

# Encryption
# ===========
certs/